
@{
    ViewBag.Title = "Cập nhật Slide";
}
@model DormitoryManagement.Models.Slide

@section scripts{

    <script>
        function displayImage(input) {
            var reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('previewImage').src = e.target.result;
                document.getElementById('previewImage').style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    </script>
}

<div id="content-wrapper">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="text-center text-gray-800">Thêm Slide</h2>

                <!-- Form thay đổi mật khẩu -->
                @using (Html.BeginForm("EditSlide", "Slide", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="form-group">
                        <label for="ImagePath">Chọn ảnh:</label>

                        <div class="col-md-10">
                            <input type="file" id="ImageFile" onchange="displayImage(this)" accept="image/*" name="ImageFile" />
                        </div>
                        @if (Model.ImagePath != null)
                        {
                            <img class="mt-3" id="previewImage" src="@Model.ImagePath" alt="Ảnh đại diện" style="display: block; max-width: 100%; height: auto;" />

                        }
                        <img class="mt-3" id="previewImage" src="#" alt="Ảnh đại diện" style="display: none; max-width: 100%; height: auto;" />

                    </div>

                    <div class="form-group">
                        <label for="Number">Chọn thứ tự:</label>
                        @Html.DropDownListFor(m => m.Number, new SelectList(
                        new List<object>
                        {
                            new { Value = "1", Text = "1" },
                            new { Value = "2", Text = "2" },
                            new { Value = "3", Text = "3" },
                            new { Value = "4", Text = "4" },
                            new { Value = "5", Text = "5" },
                            new { Value = "6", Text = "6" },
                            new { Value = "7", Text = "7" },
                            new { Value = "8", Text = "8" },
                            new { Value = "9", Text = "9" }
                        }, "Value", "Text")
                   , "-- Chọn thứ tự --", new { @class = "form-control", @id = "Number" })
                    </div>

                    <div class="form-group">
                        <label for="Status">Chọn chế độ:</label>
                        @Html.DropDownListFor(m => m.Hide, new SelectList(
                        new List<object>
                        {
                            new { Value = "1", Text = "Hiện" },
                            new { Value = "0", Text = "Ẩn" }
                        }, "Value", "Text")
                   , "-- Chọn Chế độ --", new { @class = "form-control", @id = "Status" })
                    </div>






                    <!-- Hiển thị thông báo lỗi nếu có -->
                    if (@ViewBag.Error != null)
                    {
                        <div class="form-group text-center">
                            <span class="alert alert-danger">@ViewBag.Error</span>
                        </div>
                    }

                    <!-- Hiển thị thông báo thành công nếu có -->
                    if (@ViewBag.Success != null)
                    {
                        <div class="form-group text-center">
                            <span class="alert alert-success">@ViewBag.Success</span>
                        </div>
                    }

                    <div class="text-center mb-3">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                }
            </div>


        </div>
    </div>
</div>
