
@{
    ViewBag.Title = "Create Report";
}
@model DormitoryManagement.Models.DeviceReport

@section scripts{

    <script>
        function allowOnlyOneDigit(event) {
            // Lấy phím được nhấn từ sự kiện
            var key = event.keyCode || event.which;
            // Chuyển đổi mã phím thành ký tự
            var char = String.fromCharCode(key);
            // Kiểm tra xem ký tự có phải là số từ 1 đến 9 không
            if (/^[1-9]$/.test(char)) {
                return true; // Cho phép nhập liệu
            } else {
                event.preventDefault(); // Ngăn không cho nhập liệu
                return false;
            }
        }
    </script>
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Create Report</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                @if (ViewBag.error != null)
                {
                    <div id="danger-alert" class="alert alert-danger alert-dismissible fade show mt-3 mb-3" role="alert" style="height: 48px;">
                        <strong>@ViewBag.error</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @using (Html.BeginForm("CreateReport", "Home", FormMethod.Post,new { @class = "mt-5" }))
                {

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="fee">Name Device: </label>
                        @Html.TextBoxFor(m => m.Device, new { @class = "form-control", @id = "Device", @name = "Deive" })
                    </div>

                    <div class="form-group">
                        <label for="fee">Amount: </label>
                        @Html.TextBoxFor(m => m.AmountDevice, new { @class = "form-control", @id = "Amount", @name = "Amount", @type = "number", @min = 1, @max = 9, @onkeypress = "return allowOnlyOneDigit(event)" })
                    </div>

                    <div class="form-group">
                        <label for="fee">Description: </label>
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @id = "Description", @name = "Description", @type = "text"})
                    </div>


                    <div class="text-center mb-3">
                        <a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

