@{
    ViewBag.Title = "Thêm Phòng";
}
@model DormitoryManagement.Models.Room

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center text-gray-800">Thêm Phòng</h2>


                <!-- Form thêm phòng -->
                @using (Html.BeginForm("AddRoom", "Homes", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.BuildingID)

                    <div class="form-group">
                        <label for="RoomName">Tên phòng:</label>
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "RoomName", @required = "required" })
                    </div>

                    <div class="form-group">
                        <label for="RoomType">Loại phòng:</label>
                        @Html.DropDownListFor(m => m.RoomType, (IEnumerable<SelectListItem>)ViewBag.RoomTypes, "-- Chọn loại phòng --", new { @class = "form-control", @id = "RoomTypes", @required = "required" })
                    </div>

                    <div class="form-group">
                        <label for="NumberOfBeds">Số giường:</label>
                        @Html.TextBoxFor(m => m.MaxCapacity, new { @class = "form-control", @id = "NumberOfBeds", @type = "number", @required = "required", @min = "1" })
                    </div>

                    <div class="form-group">
                        <label for="Gender">Giới tính:</label>
                        @Html.DropDownListFor(m => m.Gender, (IEnumerable<SelectListItem>)ViewBag.Genders, "-- Chọn giới tính --", new { @class = "form-control", @id = "Gender", @required = "required" })
                    </div>

                    <div class="form-group">
                        <label for="Description">Mô tả:</label>
                        @Html.TextAreaFor(m => m.Descript, new { @class = "form-control", @id = "Description", @name = "note", @rows = "3" })
                    </div>

                    <!-- Hiển thị thông báo lỗi nếu có -->
                    if (@ViewBag.Error != null)
                    {
                        <div class="form-group text-center">
                            <span class="alert alert-danger">@ViewBag.Error</span>
                        </div>
                    }

                    <!-- Hiển thị thông báo thành công nếu có -->
                    if (@ViewBag.Success != null)
                    {
                        <div class="form-group text-center">
                            <span class="alert alert-success">@ViewBag.Success</span>
                        </div>
                    }

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>