@{
    ViewBag.Title = "Sửa Tòa";
}
@model DormitoryManagement.Models.Building

<div id="content-wrapper">
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2 class="text-center text-gray-800">Thêm Tòa</h2>

                <!-- Form thay đổi mật khẩu -->
                @using (Html.BeginForm("EditApartment", "Homes", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.BuildingID)

                    <div class="form-group">
                        <label for="Appartment">Tên tòa nhà:</label>

                        @Html.TextBoxFor(m => m.Name, new
                        {
                            @class = "form-control",
                            @id = "name1",
                            @name = "name",
                            required = true,
                        })
                    </div>

                    <div class="form-group">
                        <label for="Description">Mô tả:</label>
                        @Html.TextBoxFor(m => m.Descrip, new
                        {
                            @class = "form-control",
                            @id = "descript1",
                            @name = "note",
                            required = true,
                        })

                    </div>

                    if (@ViewBag.Error != null)
                    {
                        <div class="form-group text-center">
                            <span class="form-control-user alert alert-danger">@ViewBag.Error</span>
                        </div>
                    }

                    if (@ViewBag.success != null)
                    {

                        <div class="form-group text-center">
                            <span class="form-control-user alert alert-success">@ViewBag.Success</span>
                        </div>
                    }

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                }
            </div>


        </div>
    </div>
</div>
