
@{
    ViewBag.Title = "Xem học phí";
}
@model DormitoryManagement.Areas.Admin.Data.FeeData

@section scripts{
    <script src="~/Areas/Admin/Fonts/js/script3.js"></script>
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Detail</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="text-center text-gray-800 mt-5 mb-5"></h2>

                <!-- Form chỉnh sửa phòng -->
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.ID)


                @using (Html.BeginForm("Payment", "Payment", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.ID)
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="Descript">Nội dung:</label>
                            @Html.TextBoxFor(m => m.Descript, new { @class = "form-control", @id = "Descript", @required = "required", @readonly = "readonly" })
                        </div>

                        <div class="col-md-6">
                            <label for="MonthYear">Tháng ghi:</label>
                            @Html.TextBoxFor(m => m.MonthYear, new { @class = "form-control", @id = "MonthYear", @required = "required", @readonly = "readonly" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fee">Số tiền:</label>
                        @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @id = "Price", @name = "fee", @readonly = "readonly" })
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="roomname">Số phòng:</label>
                            @Html.TextBoxFor(m => m.RoomName, new { @class = "form-control", @id = "roomname", @required = "required", @readonly = "readonly" })
                        </div>

                        <div class="col-md-6">
                            <label for="Building">Số tòa:</label>
                            @Html.TextBoxFor(m => m.BuildingName, new { @class = "form-control", @id = "Building", @required = "required", @readonly = "readonly" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PaymentStatus">Trạng thái:</label>
                        @Html.TextBoxFor(m => m.PaymentStatus, new { @class = "form-control", @id = "PaymentStatus", @readonly = "readonly" })
                    </div>

                    <div class="form-group">
                        <label for="PaymentStatus">Ghi chú:</label>
                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @id = "PaymentStatus", @row = 3, @readonly = "readonly" })
                    </div>

                    if (Model.PaymentStatus.Equals("Chưa thanh toán"))
                    {
                        <div class="text-center mb-3">
                            <a class="btnstudentfee" data-id="@Model.ID" data-toggle="modal" data-target="#PaymentModal">
                                <button type="submit" class="btn btn-success">Thanh Toán</button>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Phương thức thanh toán:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p class="text-center">Chọn phương thức thanh toán</p>
                    <br>
                    <button type="button" class="btn btn-primary" id="payWithVNPay">
                        <img src="https://cdn.haitrieu.com/wp-content/uploads/2022/10/Icon-VNPAY-QR.png" alt="VNPay Logo" style="width: 30px; height: 30px;"> Thanh toán bằng VNPay
                    </button>
                    <br>
                    <br>
                    <button type="button" class="btn btn-success" id="payWithMomo">
                        <img src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png" alt="Momo Logo" style="width: 30px; height: 30px;"> Thanh toán bằng Momo
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>