@{
    ViewBag.Title = "Quản lý hóa đơn ký túc xá";

}
@model List<DormitoryManagement.Areas.Admin.Data.FeeData>

@section scripts{
    <script src="~/Areas/Admin/Fonts/js/script3.js"></script>
}
<div class="container">
    <h4>Bộ lọc</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="fromMonth">Từ tháng:</label>
                <select class="form-control" id="fromMonth" name="fromMonth">
                    <option>--Chọn tháng --</option>
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="fromMonth">Tới tháng:</label>
                <select class="form-control" id="toMonth" name="toMonth">
                    <option>--Chọn tháng --</option>
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="fromYear">Từ năm:</label>
                <input type="text" class="form-control" id="fromYear" name="fromYear">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="toYear">Đến năm:</label>
                <input type="text" class="form-control" id="toYear" name="toYear">
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary">Tra cứu</button>
            <button type="button" class="btn btn-secondary" id="resetButton">Reset</button>
        </div>
    </div>

    @if (@ViewBag.Success != null)
    {
        <div id="success-alert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
            <strong>@ViewBag.Success</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (@ViewBag.Error != null)
    {
        <div id="danger-alert" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <strong>@ViewBag.Error</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sinh viên</th>
                            <th>Tháng</th>
                            <th>Phòng</th>
                            <th>Tòa</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Sinh viên</th>
                            <th>Tháng</th>
                            <th>Phòng</th>
                            <th>Tòa</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var fee in Model)
                        {
                            <tr>
                                <td>@fee.ID</td>
                                <td><strong>@fee.FullName</strong> <br /> @fee.StudentID</td>
                                <td><strong>@fee.MonthYear</strong></td>
                                <td><strong>@fee.RoomName</strong></td>
                                <td><strong>@fee.BuildingName</strong></td>
                                <td>@fee.TotalAmount</td>
                                @if (fee.PaymentStatus.Equals("Chưa thanh toán"))
                                {
                                    <td><span class="badge badge-pill badge-warning">@fee.PaymentStatus</span></td>
                                }
                                else
                                {
                                    <td><span class="badge badge-pill badge-success">@fee.PaymentStatus</span></td>
                                }
                                <td>

                                    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("EditStudentFee","TuitionFee", new { id = @fee.ID})">
                                        <i class="fas fa-edit"></i> Edit
                                    </a>
                                    <button type="button" class="btn btn-danger btn-sm btnstudentfee" name="@fee.ID" data-id="@fee.ID" data-toggle="modal" data-target="#deleteModal">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa tiền phòng này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteFeeStudent">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

